<div class = "container">

  <a routerLink="/home">volver</a>
  <div class = "phase-1">
    <h3>send code</h3>
    <input type="text" placeholder="username or email">
    <button class = "btn-send-code"> send code</button>
    <input type="text" placeholder="code">
    <button class = "btn-verify-code"> verify code </button>
  </div>
  <div class  = "phase-2">
    <h3>Change Password</h3>
    <form action="">
      <input type="text" placeholder="new password">
      <input type="text" placeholder="confirm password">
      <button class = "btn-confirm-changes" type = "submit">confirm change</button>
    </form>
  </div>

</div>
