<div class = "product-item">
  <div class = "product-item__image">

  </div>
  <a routerLink = "/product/aparam">{{ item.nameProduct }} <span>+</span> </a>
  <div>
    display rating
  </div>
  <div class = "line">
    <div class="product-item__price-container">
      <span class="normal">{{ item.normalPrice }}</span>
      <span class="actual">{{ item.pricePromotional }}</span>
    </div>

  </div>
  <button class="btn-buy"> wish list </button>
  <button class = "btn-buy"> add a cart </button>
  <span class = "state-product" *ngIf="item.stateProduct !== 'none' ">{{ item.stateProduct }}</span>
</div>
