<app-header></app-header>
<div class = "container">
  <div class = "row">

    <div class = "show-images-product">
      <div class = "carousel">

      </div>
      <div class = "picker-imager-carousel">
        <button>1</button>
        <button>2</button>
        <button>3</button>
      </div>
    </div>

    <div class = "details-product-order">
      <h2>title of this product</h2>
      <span class = "seller-badges">seller : <a routerLink='/seller/name-seller'>name seller</a> </span>
      <div class = "container-prices">
        <p>list price : <span>$10</span> </p>
        <p>promotional price : <span>$15</span> </p>
      </div>
      <div class = "model-products">
        <div class = "model-1">
          model 1
        </div>
        <div class = "model-2">
          model 2
        </div>
        <div class = "model-3">
          model 3
        </div>
      </div>
      <div class = "tecnichal-details">
        <ul>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum magnam maiores assumenda dolore?</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum magnam maiores assumenda dolore?</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum magnam maiores assumenda dolore?</li>
        </ul>
      </div>
    </div>

    <div class = "container-cta">
      <div class = "detail-delivery">
        <ul>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae placeat quia ullam provident.</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae placeat quia ullam provident.</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae placeat quia ullam provident.</li>
        </ul>
      </div>
      <span class = "state-product">
        in Stock
      </span>
      <div class = "quantity">
        <input type="number" value=0>
      </div>
      <div class = "actions">
        <button> add to cart <img src="../../../assets/shopping-cart.svg" alt="icon cart"> </button>
        <button> buy now <img src="../../../assets/credit-card.svg" alt="icon credit card"></button>
      </div>
    </div>
  </div>

  <div class = "conatiner-similar">
    similar products
  </div>

</div>
